/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaf3ec;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2rem;
  text-decoration: none;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #226e32;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #2b8a3e;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #226e32;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #eaf3ec;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 8.6rem;
  /* filter: brightness(0); */
  opacity: 70%;
}

/**************************/
/* ABOUT SECTION */
/**************************/

.about-heading {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.about-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.about-img {
  height: 40rem;
  width: 40rem;
  background-color: #2b8a3e;
}

/**************************/
/* SERVICES SECTION */
/**************************/

.section-services {
  margin-bottom: 8rem;
}
.section-how {
  padding: 9.6rem 0;
}

.service-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.service-text-box {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-text-box::before,
.service-text-box::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-text-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #eaf3ec;
  z-index: -2;
}

.service-text-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #d5e8d8;
  z-index: -1;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item div {
  display: block;
  width: 10rem;
  height: 10rem;
  background-color: seagreen;
}

/**************************/
/* PRICING SECTION */
/**************************/

.section-pricing {
  background-color: #eaf3ec;
  padding: 4.8rem 0 9.6rem 0;
}

.pricing {
  background-color: #fff;
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.pricing:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.price-title {
  font-size: 2.4rem;
  color: #226e32;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.murals {
  margin-bottom: 1.6rem;
}

.price-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.price-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.price-icon {
  display: inline-block;

  width: 2.4rem;
  height: 2.4rem;
  color: #2b8a3e;
  flex: 0 0 2.4rem;
}

.pricing-footer {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-footer-icon {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  color: #2b8a3e;
  flex: 0 0 4.8rem;
}
/**************************/
/* CONTACT SECTION */
/**************************/

.contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  /* background-image: linear-gradient(to right bottom, #eb984e, #e67e22); */
  overflow: hidden;
}
.contact-heading {
  font-weight: 700;
  color: #fff;

  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.contact-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  background-color: #2b8a3e;
  color: #fff;
}

.contact-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.contact-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgb(13, 41, 19, 0.35),
      rgba(4, 37, 11, 0.35)
    ),
    url('../img/hero-main-logo.png');
  background-size: cover;
  background-position: center;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 8rem 0;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 1.2rem;
  text-decoration: none;
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
